@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background-color: #F8F9FA;
 
  
}
  

@font-face {
  font-family: 'IRANSans';
  src: url('/public/assent/IranSansX/IranSansX/Farsinumerals/IRANSansXFaNum-Light.ttf') format('ttf'),
       url('/public/assent/IranSansX/IranSansX/Farsinumerals/IRANSansXFaNum-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'IRANSans';
  src: url('/public/assent/IranSansX/IranSansX/Farsinumerals/IRANSansXFaNum-Bold.ttf') format('ttf'),
       url('/public/assent/IranSansX/IranSansX/Farsinumerals/IRANSansXFaNum-Bold.ttf') format('ttf');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/public/assent/IranSansX/IranSansX/Farsinumerals/IRANSansXFaNum-Medium.ttf') format('ttf'),
       url('/public/assent/IranSansX/IranSansX/Farsinumerals/IRANSansXFaNum-Medium.ttf') format('ttf');
  font-weight: Medium;
  font-style: Medium;
}